@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body {
  height: 100%;
}
body {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  background: white;
}

* {
  box-sizing: border-box;
}

header {
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

nav a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-weight: bold;
}

nav a:hover{
    cursor: pointer;
    background-color: brown;
    color: cornflowerblue;
}
#download-btn {
  border: 1px solid black;
  border-radius: 30px;
  background:teal;
  width: 12%;
  padding-left: 14px;
  color: white;
  height: 2em;
  padding-top: 6px;
  
}

.section1 {
  height: 35em;
  display: flex;
  flex-direction: row;
  margin-top: 130px;
  justify-content: space-between;
  
}

.description {
  width: 40%;
  margin: 0 auto;
}
.image {
  width: 40%;
  margin: 0 auto;

}
.pics {
  height: 32em;
  width: 30em;
  border-radius: 35px;
}

.google {
  width: 12em;
  margin-right: 8px;
  margin-top: 50px;
}
#mail {
  border-radius: 22px;
  height: 4em;
  margin-right: 8px;
  width: 20em;
}

#submit {
  border-radius: 22px;
  height: 3em;
  margin-right: 8px;
  width: 10em;
  background-color:teal;
  font-size: 15px;
}
.lead {
  font-weight: bold;
  font-size: 30px;
  font-family: Roboto;
}
.sub-text {
  font-family: Roboto;
  font-size: 25px;
}

.second-text{
    font-family: Raleway;
    line-height: 2;
    color: gray;
}
